{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-sm-12">
        <div class="card border-info card-outline">
            <div class="card-header">
                <h3 class="card-title">Dashboard</h3>
            </div> 
                <div class="card-body">
                    <h3>Sistem Diagnosis Penyakit Berbasis Web menggunakan Algoritma Pembelajaran Machine</h3>
                    <center>
                        <img src="{{ url_for('static', filename='images/img.png') }}" width="60%"/>
                    </center>
                </div>
                <div class="card-footer">
                </div>               
         </div>
    </div>
</div>     

{% endblock %}